$primary-color: #2947a9;
$secondary-color: #f9995d;
$third-color: #3559c7;
$forth-color: #e0e3eb;
$main-text-color: #14171f;
$second-text-color: #292e3d;
$third-text-color: #3d445c;
$fourth-text-color: #858ead;
$sixth-text-color: #667299;
$seventh-text-color: #525b7a;
$eighth-text-color: #c2c7d6;
$ninth-text-color: #a3aac2;
